/*1355718334,178142559*/

.sp_72gp4c{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yh/x/atqvP_Es52F.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:8px}
.sx_cac5dd{width:9px;height:16px;background-position:-18px -99px}
.sx_54bd24{width:9px;height:16px;background-position:0 -166px}
.sx_6919d4{width:10px;height:14px;background-position:-10px -122px}
.selected .sx_6919d4{background-position:0 -122px}
.sx_682c99{width:9px;height:13px;background-position:-9px -137px}
.selected .sx_682c99{background-position:0 -137px}
.sx_134476{height:14px;background-position:-8px -151px}
.selected .sx_134476{background-position:0 -151px}
.sx_6da938{width:32px;background-position:0 0}
.sx_6be01d{width:32px;background-position:0 -33px}
.sx_2d4026{width:32px;background-position:0 -66px}
.sx_c0ab4d{width:17px;height:22px;background-position:0 -99px}
.sx_51eeac{height:10px;background-position:-21px -122px}
.sx_ad0208{height:8px;background-position:-17px -151px}
.sx_4c6b72{height:8px;background-position:-10px -166px}
.sx_67a24e{width:5px;height:9px;background-position:-19px -137px}
.sx_28162c{width:5px;height:9px;background-position:-25px -137px}

#bootloader_Iaten { height: 42px; }