/*1355716890,178142491*/

._1zja{background-color:rgba(255, 255, 255, .95);border:2px dashed #7e97ba;-webkit-border-radius:3px;color:#7e97ba;display:none;font-size:16px;font-weight:bold;height:100%;left:-2px;position:absolute;text-align:center;top:-2px;width:100%;z-index:150}
.fbDropReady ._1zja{border-color:#75a3f5;color:#75a3f5}
._1zjb{display:table;height:100%;width:100%}
._1zjc, .fbWantsDragDrop.fbDropReady ._1zjd{display:none}
.fbDropReady ._1zjc, .fbWantsDragDrop ._1zjd{display:table-cell;vertical-align:middle}
.fbWantsDragDrop ._1zja{display:block}
.sp_azz0zc{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yP/x/mpMMbXGiZmH.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:4px;width:562px}
.sx_0d6148{width:6px;height:9px;background-position:-27px -10px}
.sx_88cd77{width:12px;height:12px;background-position:-28px -22px}
.sx_ec03e4{width:11px;height:11px;background-position:-15px -10px}
.sx_117184{width:13px;height:13px;background-position:0 -22px}
.sx_02cdf9{width:13px;height:13px;background-position:-14px -22px}
.sx_dc3ad7{width:14px;height:11px;background-position:0 -10px}
.sx_0aebf1{background-position:0 0}
.sx_176d00{background-position:0 -5px}

#bootloader_TtakP { height: 42px; }