/*1355153107,178142547*/

.uiStreamStoryHide .ogAggregationSubstoryContent{display:none}
._4q1{padding:10px}
._gxa input{display:none}
._gxb{position:relative}
._gxb ._gxc{position:absolute;right:5px;top:5px;visibility:hidden}
._gxb:hover ._gxc, ._gxa.uiHoverButtonSelected{visibility:visible}

#bootloader_9BOHG { height: 42px; }