/*1355716892,178142525*/

._1_vu{border-top:1px solid #eee;position:relative}
._1_vv{margin-top:1px;height:16px;width:16px}
._1_vv.mercuryErrorIcon{height:12px;margin-top:2px;width:11px}
._1_vw{float:left;text-align:right;width:32px}
._1_vx{margin-left:40px}
._1_vy ._ksh{margin-left:40px;margin-top:5px}
._1_vz{background-color:#fff;float:right;position:absolute;right:0;top:-6px;visibility:hidden}
._1_vu:hover ._1_vz{visibility:visible}

#bootloader_7YxLw { height: 42px; }